<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= pet.animal %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= pet.dob %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= pet.patient_id %>
  </p>

</div>
