<%= form_with(model: patient) do |form| %>

  <div class="mb-3 wider-field">
    <%= form.text_field :first_name, autocomplete: "first_name", class: "form-control", placeholder: "First Name" %>
    <%= content_tag(:div, "&#8226; ".html_safe + @patient.errors[:first_name].first, class: "error-message form-box-error") if @patient.errors[:first_name].any? %>
  </div>

  <div class="mb-3 wider-field">
      <%= form.text_field :last_name, autocomplete: "last_name", class: "form-control", placeholder: "Last Name" %>
      <%= content_tag(:div, "&#8226; ".html_safe + @patient.errors[:last_name].first, class: "error-message form-box-error") if @patient.errors[:last_name].any? %>
  </div>

  <div class="mb-3 wider-field">
      <%= form.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
      <%= content_tag(:div, "&#8226; ".html_safe + @patient.errors[:email].first, class: "error-message form-box-error") if @patient.errors[:email].any? %>
  </div>

  <div class="mb-3 wider-field">
      <%= form.text_field :phone, autocomplete: "phone", class: "form-control", placeholder: "Phone Number" %>
      <%= content_tag(:div, "&#8226; ".html_safe + @patient.errors[:phone].first, class: "error-message form-box-error") if @patient.errors[:phone].any? %>
  </div>

  <div class="actions">
      <% if @update %>
        <%= form.submit "Update Patient", class: "btn btn-warning btn-lg mt-1" %>
      <% else %>
        <%= form.submit "Create Patient", class: "btn btn-primary btn-lg mt-1" %>
      <% end %>
  </div>
<% end %>
