<div class="container mb-4">

  <h1 class="mt-4 mb-4"><%= @title %></h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-success">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Pets</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
          <tr onclick="window.location='<%= patient_path(patient) %>'" style="cursor:pointer;">
            <td><%= patient.first_name %></td>
            <td><%= patient.last_name %></td>
            <td><% for pet in patient.pets %>
              <%= pet.name %><span style="color: grey;"> - <%= pet.animal %></span><br>
            <% end %></td>
            <td><%= patient.email %></td>
            <td><%= patient.phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>