<div class="container d-flex justify-content-center mt-4">
  <div class="login-box-container">
    <h2 class="mb-3">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'login-form' }) do |f| %>

      <div class="mb-3 wider-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
      </div>

      <div class="mb-3 wider-field">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Your Password" %>
      </div>

      <%= content_tag(:div, flash[:alert], id: "login-box-error", class: "login-box-error") if flash[:alert] %>
      <div id="empty-box-error" class="login-box-error"></div>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary mb-3" %>
      </div>

    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
