<div class="container">

  <h1 class="mt-4 mb-4"><%= @title %></h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Position</th>
          <th>Admin</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr onclick="window.location='<%= admin_user_path(user) %>'" style="cursor:pointer;">
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.position %></td>
          <td><%= user.is_admin ? 'Yes' : 'No' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>