<!-- app/views/admin/users/new.html.erb -->
<h1><%= @title %></h1>

<%= form_with(model: [:admin, @user], local: true, data: { turbo: false }) do |form| %>

    <div class="field">
        <%= form.label :first_name %><br />
        <%= form.text_field :first_name, autocomplete: "first_name" %>
    </div>

    <div class="field">
        <%= form.label :last_name %><br />
        <%= form.text_field :last_name, autocomplete: "last_name" %>
    </div>

    <div class="field">
        <%= form.label :email %><br />
        <%= form.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
        <%= form.label :phone %><br />
        <%= form.text_field :phone, autocomplete: "phone" %>
    </div>

    <div class="field">
        <%= form.label :position %><br />
        <%= form.text_field :position, autocomplete: "position" %>
    </div>

    <div class="field">
        <%= form.label :is_admin %><br />
        <%= form.check_box :is_admin %>
    </div>

    <div class="field">
        <%= form.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= form.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
        <%= form.label :password_confirmation %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>

<%= link_to 'Back', admin_users_path %>
