<div class="container d-flex justify-content-center mt-4"">

    <div class="form-box-container">

        <h1 class="mb-3">New <%= @title %></h1>

        <%= form_with(model: [:admin, @user], local: true, data: { turbo: false }) do |form| %>

            <%= render "admin/users/fields", form: form %>

            <div class="mb-3 wider-field">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= form.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
                <%= content_tag(:div, "&#8226; ".html_safe + @user.errors[:password].first, class: "error-message form-box-error") if @user.errors[:password].any? %>
            </div>

            <div class="mb-3 wider-field">
                <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
                <%= content_tag(:div, "&#8226; ".html_safe + @user.errors[:password_confirmation].first, class: "error-message form-box-error") if @user.errors[:password_confirmation].any? %>
            </div>

            <div class="actions">
                <%= form.submit "Create User", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>